{% extends 'fhead.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <title> ROTATE </title>
    <link rel="stylesheet" href="{%static 'teaa.css'%}">

</head>
<body>
     <div class="header">
        <h1>Our Board 2021-22</h1>
        <img src="{% static 'pu.png'%}" class="pu"/>
      </div>
    <div class="heads">
      <div class="card">
          <div class="front center">
              <img src="{% static 'Dhiren Vekaria.jpg'%}" class="img"/>
              <div>
                  <p class="name">Rtr.Dhiren </p>
                  <p class="post">PRESIDENT</p>
              </div>
              <div class="arrow center ">-></div>
              <div class="leftbox off">
                  <p>Skills</p>
                  <div class="About">
                      <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                      <div>Css</div>
                      <div>React</div>
                      <div>Node Js</div>
                  </div>
                  <div class="cancel center">
                      <i class="fas fa-times"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Hetvi Vasava.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr.Hetvi Vasava</p>
                <p class="post">Secretary</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
    </div>

    
    <div class="memb">
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="front center">
            <img src="{% static 'Rikit Kerai.jpg'%}" class="img"/>
            <div>
                <p class="name">Rtr Rikit Kerai</p>
                <p class="post">VICE PRESIDENT</p>
            </div>
            <div class="arrow center ">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="leftbox off">
                <p>Skills</p>
                <div class="About">
                    <div>Htmldfhfhfjfjhfgjhggjhgjhhgfgchghhg</div>
                    <div>Css</div>
                    <div>React</div>
                    <div>Node Js</div>
                </div>
                <div class="cancel center">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
<script src="{%static 'tea.js'%}"></script>
</body>
</html>

{% endblock content %}